/** @format */

body {
    background-color: #333;
}

/** Fade in from black at start */
#sceneFadeOverlay {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: 69;
    transition: opacity 1s;
}
