/** @format */

#title {
    /* Size */
    width: 90vw;
    height: calc(90vh * 280 / 900);
    /* Position - Top middle with margins */
    position: absolute;
    left: 5vw;
    top: 5vh;
    z-index: 3;
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-title.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* Anim - Fade in after Menu Art */
    animation: 1.5s 1 cubic-bezier(0.39, 0.575, 0.565, 1) titleFadeIn;
}

@keyframes titleFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menuArt {
    /* Size */
    width: calc(100vw * 780 / 1440);
    height: calc(100vh * 620 / 900);
    /* Position - Bottom left */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-art-planets.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* Style - Blurred edges */
    mask-composite: intersect;
    mask-image: linear-gradient(
            to right,
            transparent 2%,
            rgba(0 0 0 / 1) 20%,
            rgba(0 0 0 / 1) 80%,
            transparent 98%
        ),
        linear-gradient(
            to bottom,
            transparent 2%,
            rgba(0 0 0 / 1) 20%,
            rgba(0 0 0 / 1) 80%,
            transparent 98%
        );
    /* Anim - Fade in at start */
    animation: 1s 1 cubic-bezier(0.39, 0.575, 0.565, 1) menuArtFadeIn;
}

@keyframes menuArtFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menuBG {
    /* Size */
    width: 100vw;
    height: 100vh;
    /* Position - Centered */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-bg-space.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mmButton {
    /* Size */
    width: calc(100vw * 244 / 1440);
    height: calc(100vh * 92 / 900);
    /* Position */
    position: absolute;
    z-index: 4;
    /* Style */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* Override default forms.css */
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    /* Transition 1 - Shift left on hover. Undo on click. */
    /* Transition 2 - Gray halo on hover. Undo on click. */
    /* Transition 3 - Shrink on click. */
    transition-property: scale, transform, background-color, border,
        border-radius;
    transition-duration: 0.05s, 0.25s, 0.25s, 0.25s, 0.25s;
    /* Anim 1 - Slide in from right at start */
    /* Anim 2 - Float up and down on hover */
    animation-duration: 1s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.mmButton:hover {
    cursor: pointer;
    /* Shift button left */
    transform: translate(-20px);
    /* Gray halo */
    background-color: #aaa;
    border: 4px solid #333;
    border-radius: 32px;
}

.mmButton:active {
    /* On click: Undo Transition 1 and Transition 2. Activate Transition 3. */
    scale: 0.75 0.9;
    transform: initial;
    background-color: initial;
    border: initial;
    border-radius: initial;
}

@keyframes mmButtonFloat {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 8px;
    }
}

#btnContinue {
    /* Position */
    left: calc(100vw * 808 / 1440);
    top: calc(100vh * 308 / 900);
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-btn-continue.svg);
    /* Anim 1 - Slide in from right at start */
    animation-name: btnContinueSlide;
}

#btnContinue:hover {
    /* Anim 2 - Float up and down on hover */
    animation-name: btnContinueSlide, mmButtonFloat;
}

@keyframes btnContinueSlide {
    from {
        left: 105vw;
    }
    to {
        left: calc(100vw * 808 / 1440);
    }
}

#btnNewGame {
    /* Position */
    left: calc(100vw * 898 / 1440);
    top: calc(100vh * 426 / 900);
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-btn-newgame.svg);
    /* Anim 1 - Slide in from right at start */
    animation-name: btnNewGameSlide;
}

#btnNewGame:hover {
    /* Anim 2 - Float up and down on hover */
    animation-name: btnNewGameSlide, mmButtonFloat;
}

@keyframes btnNewGameSlide {
    from {
        left: 105vw;
    }
    to {
        left: calc(100vw * 898 / 1440);
    }
}

#btnLoad {
    /* Position */
    left: calc(100vw * 988 / 1440);
    top: calc(100vh * 544 / 900);
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-btn-load.svg);
    /* Anim 1 - Slide in from right at start */
    animation-name: btnLoadSlide;
}

#btnLoad:hover {
    /* Anim 2 - Float up and down on hover */
    animation-name: btnLoadSlide, mmButtonFloat;
}

@keyframes btnLoadSlide {
    from {
        left: 105vw;
    }
    to {
        left: calc(100vw * 988 / 1440);
    }
}

#btnOptions {
    /* Position */
    left: calc(100vw * 1078 / 1440);
    top: calc(100vh * 661 / 900);
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-btn-options.svg);
    /* Anim 1 - Slide in from right at start */
    animation-name: btnOptionsSlide;
}

#btnOptions:hover {
    /* Anim 2 - Float up and down on hover */
    animation-name: btnOptionsSlide, mmButtonFloat;
}

@keyframes btnOptionsSlide {
    from {
        left: 105vw;
    }
    to {
        left: calc(100vw * 1078 / 1440);
    }
}

#btnExit {
    /* Position */
    left: calc(100vw * 1168 / 1440);
    top: calc(100vh * 780 / 900);
    /* Style - Art assets */
    background-image: url(../../assets/art/mm-btn-exit.svg);
    /* Anim 1 - Slide in from right at start */
    animation-name: btnExitSlide;
}

#btnExit:hover {
    /* Anim 2 - Float up and down on hover */
    animation-name: btnExitSlide, mmButtonFloat;
}

@keyframes btnExitSlide {
    from {
        left: 105vw;
    }
    to {
        left: calc(100vw * 1168 / 1440);
    }
}

/* Fade to black after clicking a button */
#sceneFadeOverlay {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: 69;
    transition: opacity 1s;
}
