/** @format */

@plugin "lists";

/* ##################################################################### */
/* ############################### STYLE ############################### */
/* ##################################################################### */

#game-hpbar {
    background-color: #ab0e0e;
    outline: thick double #9e9e9e;
    border-radius: 2vw 5vw 5vw 2vw / 4vw 10vw 10vw 4vw;
}

/* ##################################################################### */
/* ############################### LAYOUT ############################## */
/* ##################################################################### */

@grid-row: 1fr, 8fr, 3fr;
@grid-col: 1fr, 2fr;

// Game Scene Container //
#game {
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: grid;
    gap: 32px 32px;
    grid-template: join(@grid-row, " ") / join(@grid-col, " ");
}

#game * {
    z-index: 10;
}

#game-nav {
    grid-area: 1 / 2 / 2 / 3;
}
#game-hpbar {
    grid-area: 1 / 1 / 2 / 2;
}
#game-base {
    // $less and grid-area: 2 / 1 / 3 / 2;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    // center and aspect-ratio: 1 / 1
    box-sizing: border-box;
    @width-numerator: unit(extract(@grid-col, $grid-column-start));
    @height-numerator: unit(extract(@grid-row, $grid-row-start));
    @width-denominator: ~"(" replace(join(@grid-col, " + "), "fr", "", "g") ~")";
    @height-denominator: ~"(" replace(join(@grid-row, " + "), "fr", "", "g") ~")";
    @width: ~"@{width-numerator} / @{width-denominator} * 100vi";
    @height: ~"@{height-numerator} / @{height-denominator} * 100vb";
    padding: calc((@height - @width) / 2) calc((@width - @height) / 2);
}
#game-techmenu {
    grid-area: 2 / 2 / 3 / 3;
}
#game-resources {
    grid-area: 3 / 1 / 4 / 2;
}
#game-spellbar,
#game-keyui {
    grid-area: 3 / 2 / 4 / 3;
}

// Resource Titles + Wide Icon BGs //
#game-resources a {
    display: flex;
    align-items: end;
    justify-content: center;
}

// Resource Counters //
#game-resources span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
