/** @format */

/* ##################################################################### */
/* ############################### STYLE ############################### */
/* ##################################################################### */

.ui-bg() {
    z-index: 10;
}

.ui-bg0 {
    .ui-bg();
    background-color: #999;
    outline: black solid 2px;
}

/* ##################################################################### */
/* ############################### LAYOUT ############################## */
/* ##################################################################### */

#game {
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 8fr 3fr;
    gap: 32px 32px;
}

// -------------------------------------------------------------------------- //
// ---------------------------------- TEMP ---------------------------------- //
// -------------------------------------------------------------------------- //

.temp-hp {
    .ui-bg();
    background-color: #ab0e0e;
    outline: #555 solid 4px;
    border-radius: 2vw 5vw 5vw 2vw / 4vw 10vw 10vw 4vw;
}

.temp-base {
    .ui-bg();
    background-color: darkcyan;
    outline: #222 solid 8px;
}

.temp-res {
    .ui-bg0();
    display: flex;
}

.temp-res * {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0;
}
.temp-res * * {
    flex: 1 1 0;
    justify-content: end;
}

.temp-nav {
    .ui-bg0();
    display: flex;
}

.temp-nav * {
    flex: 1 1 0;
}
