/** @format */

/* ##################################################################### */
/* ################################ FONT ############################### */
/* ##################################################################### */

.ui-font() {
    font-family: "Patrick Hand", sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.ui-huge {
    .ui-font();
    font-size: 12vmin;
    color: #777;
}

.ui-big {
    .ui-font();
    font-size: 4vmin;
}

/* ##################################################################### */
/* ############################### STYLE ############################### */
/* ##################################################################### */

.ui-bg() {
    z-index: 10;
}

.ui-bg0 {
    .ui-bg();
    background-color: #999;
}

.ui-bg1 {
    .ui-bg();
    background-color: #ab0e0e;
    outline: #555 solid 4px;
    border-radius: 2vw 5vw 5vw 2vw / 4vw 10vw 10vw 4vw;
}

.ui-bg2 {
    .ui-bg();
    background-color: aquamarine;
    outline: #0099c8 solid 8px;
    border-radius: 3vw 8vw 8vw 3vw;
}

/* ##################################################################### */
/* ############################### LAYOUT ############################## */
/* ##################################################################### */

.scene {
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 8fr 3fr;
    gap: 32px 32px;
}
